/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  background: url('background5.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header */
header {
  background: rgb(0, 0, 0); 
  color: #00d4ff;
  text-align: center;
  padding: 2rem;
  border-bottom: 3px solid #035869;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000; 
  h1{
    text-align: left;
    box-sizing: border-box;
  }    
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px black;
}

nav a {
  color: #ffcc00; 
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00d4ff;
  text-decoration: underline;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  /* padding: 20px; */
  height: calc(100vh- 100px-40px);
  overflow: hidden;
}

/* LEFT PROFILE (Fixed Sidebar) */
.profile-section {
  width: 25%;
  padding: 20px;
  position: fixed;      
  top: 40px;
  left: 20px;
  height: calc(100vh - 100px -60px); 
  background: rgba(0,0,0,0.05); 
  overflow-y: auto;     
  text-align: center;
}

.profile-photo {
  border-radius: 50%;
  width: 110px;
  height: 130px;
  object-fit: cover;
  /* border: 4px solid #024451; */
  margin-bottom: 0;
}

/* RIGHT MAIN CONTENT */
.main-content {
  margin-left: 25%;   
  padding-right: 5px;
  width: 75%;
  height: calc(100vh - 100px -40px);
  overflow-y: scroll;
  box-sizing: border-box;
  scrollbar-width: none;
  background: rgba(0,0,0,0.05);
}
a{
  color:burlywood;
  text-decoration:dashed;
}

/* Sections */
section {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  background: rgba(0, 0, 0, 0.05); 
  border-radius: 12px;
  margin-bottom: 0.5rem;
  scroll-margin-top: 80px;
}

h2 {
  color: #ffcc00; 
  margin-bottom: 1rem;
  border-bottom: 2px solid #00d4ff;
  display: inline-block;
  padding-bottom: 5px;
}
p{
  color:azure
}

h3 {
  color: #06a2ad; 

}


/* FEED CARDS */
.feed {
  margin-top: 15px;
}

/* Project Cards */
.card {
  /* background: #111; deep black */
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.9);
}

.card h3 {
  margin: 0;
  color: #00d4ff;
}

/* Footer */
footer {
  background: #000814;
  color: #888;
  text-align: center;
  padding: 0.8rem;
  /* border-top: 2px solid #00d4ff; */
  border-top: 3px solid #035869;
  /* position: sticky; */
  bottom: 0;
  left: 0;
  width:100%;
  height: 60px;
  z-index:1000;
}

.read-more-btn {
  background: #00d4ff;
  color: #111;
  border: none;
  border-radius: 6px;
  padding: 4px 12px;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
  transition: background 0.2s;
}
.read-more-btn:hover {
  background: #ffcc00;
  color: #111;
}
